<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.jun261.snack.SnackMapper">
	<select id="get" resultType="com.yun.jun261.snack.Snack">
		select * from jun261_snack order by s_name
	</select>

</mapper>