@charset "UTF-8";

#dataroomFiles{
	width:95%;
	height: 800px;
	color: black;
	font:"scar"
	
}
#dataroomFiles td{
	width:25%;
	padding : 7px;
}
#dataroomFiles table{
	width:80%;
	margin: 10px;
}
#dataroomFiles div{
	width:95%;
	heigh:95%;
	overflow: scroll;
}